{
  "log": {"loglevel": "warning"},
  "inbounds": [{
    "port": "${SOCKS_PORT}",
    "protocol": "http",
    "settings": {},
    "tag": "http-in"
  }],
  "outbounds": [
    ${OUTBOUNDS}
  ],
  "routing": {
    "rules": [{
      "type": "field",
      "inboundTag": ["http-in"],
      "balancerTag": "vless-pool"
    }],
    "balancers": [{
      "tag": "vless-pool",
      "selector": ["${OUTBOUND_TAGS}"]
    }]
  }
}
